@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: ("/fonts/ptsans-400.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: ("/fonts/ptsans-700.woff2") format("woff2");
  display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}
