@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: ("/fonts/ptsans-400.woff2") format("woff2");
  display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: ("/fonts/ptsans-700.woff2") format("woff2");
  display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}
/*фон и цвет текста для шапки*/
.main-header {
  color: #000000;
  background-color: #FFFFFF;
}
/*список ссылок в навигации*/
.nav-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}
/* попробывал скомпонавать 3 изображения */
.welcome-plate {
  position: relative;
  background-image: url("/images/welcome/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}
.welcome-plate-text {
  margin-left: 371px;
  margin-top: 51px;
}
.welcome-plate-divider {
    position: absolute;
    bottom: 0;
    left: 0;
}
.about {
  background-color: #FFFFFF;
}
/* описание Седоны */
.about-text-description {
font-weight: 700;
font-style: normal;
font-size: 30px;
line-height: 36px;
color: #000000;
text-transform: uppercase;
text-align: center;
}
/* предложение рассмотреть причины почему Седона круче */
.about-text-offer {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
/*блок с преемуществами */
.features-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}
/* заголовки блока преемуществ */
.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
/* блоки преемущест с фото */
.features-content-blue-white {
  color: #FFFFFF;
  background-color: #82B3D3;
}
/* заголовки блока преемуществ с фото */
.features-title-white {
  color: #FFFFFF;
}
/* блок с едой */
.features-content-white {
  background-color: #FFFFFF;
}
/* блок с красивой дорогой */
.features-content-more-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
/* вопрос Заинтеросавились? */
.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
/* текст после вопроса Заинтересовались */
.search-hotel-content {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
/* кнопка поиска гостиницы-она же ссылка */
.search-hotel-button {
  width: 574px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
/* блок с формой  подпиской  */
.newsletter {
  width: 1200px;
  height: 411px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
  text-align: center;
}

